@page "/calculator"
@inherits OddsCalculatorBase

<h2>Texas Hold'em Odds Calculator</h2>

@{
    int n = 0;
}
<div class="btn-toolbar" role="toolbar">
    <div class="btn-group mr-2 board font_large" role="group">
        <div class="w-20 border col-md card">@HandCards[0]</div>
        <div class="w-20 border col-md card">@HandCards[1]</div>
        <div class="w-20 border col-md card">@HandCards[2]</div>
        <div class="w-20 border col-md card">@HandCards[3]</div>
        <div class="w-20 border col-md card">@HandCards[4]</div>
        <div class="w-20 border col-md card">@HandCards[5]</div>
        <div class="w-20 border col-md card">@HandCards[6]</div>
    </div>
    <div class="btn-group-vertical h-100" role="group">
        <div class="input-group h-50 font_large">
            <span>@WinString</span>
        </div>
        <div class="btn-group h-50" role="group">
            <button type="button" class="btn btn-secondary">1</button>
            <button type="button" class="btn btn-secondary">2</button>
            <button type="button" class="btn btn-secondary">3</button>
            <button type="button" class="btn btn-secondary">4</button>
        </div>
    </div>
</div>
<div class="btn-toolbar" role="toolbar">
    @foreach (string s in ListCardSuit)
    {
        <div class="btn-group mr-2" role="group">
            @foreach (string c in ListCardId)
            {
                CardState cardState = ListCardState.ElementAt(n);
                <CardButton HandString="@TestHand" CardString="@c" SuitString="@s"
                        @bind-State="@cardState.IsSelected" />
                n++;
            }
        </div>
    }
</div>


