@page "/playpoker"
@inherits PlayPokerBase

<button class="btn btn-dark" disabled=@IsGameRunning 
    onclick="@(async () => await NewGame())" onmouseup="this.blur();">New&nbsp;Game</button>
<label for="CheckboxAutoPlay">Auto Play</label>
<input style="margin-right:1vw;" disabled=@IsGameRunning id="CheckboxAutoPlay" type="checkbox" 
    checked=@AutoPlay @oninput="Checkbox_Changed" />

@{
    List<string> listTimeout = new() { "1000", "500", "300" };
}
<Dropdown TItem="string" OnSelected="@Timeout_Selected">
    <InitialTip>Timeout</InitialTip>
    <ChildContent>
        @foreach(string item in listTimeout)
        {
            <DropdownListItem Item="@item">@item</DropdownListItem>
        }
    </ChildContent>
</Dropdown>

@{
    List<string> listTableMax = new () { "9-max", "6-max", "3-max", "2-max" };
}
<Dropdown TItem="string" OnSelected="@TableMax_Selected">
    <InitialTip>Table-Max</InitialTip>
    <ChildContent>
        @foreach (string item in listTableMax)
        {
            <DropdownListItem Item="@item">@item</DropdownListItem>
        }
    </ChildContent>
</Dropdown>

<br />
<table>
    <tr>
        <td></td>
        <td colspan="2" class="text-center"><PlayerPerson Player="@PlayerObjects[8]"/></td>
        <td colspan="2" class="text-center"><PlayerPerson Player="@PlayerObjects[0]"/></td>
        <td></td>
    </tr>
    <tr>
        <td class="text-center"><PlayerPerson Player="@PlayerObjects[7]"/></td>
        <td colspan="4" rowspan="2">
            <div class="panel-body">
                <div class="game-table">
                    <table class="w-100 h-100">
                        <tr>
                            <td class="text-start align-bottom">
                                <PlayerData Player="@PlayerObjects[7]" />
                            </td>
                            <td><PlayerData Player="@PlayerObjects[8]" /></td>
                            <td colspan="2" class="fw-bold" style="color:white;">
                                @if (Pot > 0)
                                {
                                    <span>Pot:@Pot</span>
                                }
                            </td>
                            <td><PlayerData Player="@PlayerObjects[0]" /></td>
                            <td class="text-end align-bottom" >
                                <PlayerData Player="@PlayerObjects[1]" />
                            </td>
                        </tr>
                        <tr>
                            <td class="text-start align-bottom"><PlayerData Player="@PlayerObjects[6]" /></td>
                            <td colspan="4" class="text-center" >
                                <div class="btn-group mr-2 font_large row align-items-center board" role="group">
                                    <BoardCard Card="@BoardCards[0]" />
                                    <BoardCard Card="@BoardCards[1]" />
                                    <BoardCard Card="@BoardCards[2]" />
                                    <BoardCard Card="@BoardCards[3]" />
                                    <BoardCard Card="@BoardCards[4]" />
                                </div>
                            </td>
                            <td class="text-end align-bottom"><PlayerData Player="@PlayerObjects[2]" /></td>
                        </tr>
                        <tr>
                            <td class="text-end align-bottom"><PlayerData Player="@PlayerObjects[5]" /></td>
                            <td></td>
                            <td class="text-center align-bottom" colspan="2"><PlayerData Player="@PlayerObjects[4]" /></td>
                            <td></td>
                            <td class="text-start align-bottom"><PlayerData Player="@PlayerObjects[3]" /></td>
                        </tr>
                    </table>
                </div>
            </div>
        </td>
        <td class="text-center"><PlayerPerson Player="@PlayerObjects[1]" /></td>
    </tr>

    <tr>
        <td class="text-center"><PlayerPerson Player="@PlayerObjects[6]" /></td>
        <td class="text-center"><PlayerPerson Player="@PlayerObjects[2]" /></td>
    </tr>

    <tr>
        <td></td>
        <td class="text-center"><PlayerPerson Player="@PlayerObjects[5]" /></td>
        <td colspan="2" class="text-center"><PlayerPerson Player="@PlayerObjects[4]" /></td>
        <td class="text-center"><PlayerPerson Player="@PlayerObjects[3]" /></td>
        <td></td>
    </tr>
</table>
<div class="game-panel" style="@((IsMyAction && ! AutoPlay) ? "display:block" : "display:none")">
    <input type="text" class="form-control col-3" @bind-value="MyBet" placeholder="bet" @oninput="MyBet_Changed" />
    <div>
        <input type="button" value="Fold" class="btn btn-dark panel-button"
               onclick="@(async () => await Fold())" onmouseup="this.blur();" />
        <input type="button" value="Check" class="btn btn-dark panel-button"
               disabled=@CheckNotAllowed onclick="@(async () => await Check())" onmouseup="this.blur();" />
        <input type="button" value="@BetTitle" class="btn btn-dark panel-button"
               disabled=@MyBetNotCorrect onclick="@(async () => await Bet())" onmouseup="this.blur();" />

    </div>
</div>

