@page "/playpoker"
@inherits PlayPokerBase

<button disabled=@IsGameRunning 
    onclick="@(async () => await NewGame())" onmouseup="this.blur();">New&nbsp;Game</button>
<br />
<table>
    <tr>
        <td></td>
        <td colspan="2" class="text-center"><PlayerPerson Player="@PlayerObjects[8]"/></td>
        <td colspan="2" class="text-center"><PlayerPerson Player="@PlayerObjects[0]"/></td>
        <td></td>
    </tr>
    <tr>
        <td class="text-center"><PlayerPerson Player="@PlayerObjects[7]"/></td>
        <td colspan="4" rowspan="2">
            <div class="panel-body">
                <div class="game-table">
                    <table class="w-100 h-100">
                        <tr>
                            <td class="text-start align-bottom">
                                <PlayerData Player="@PlayerObjects[7]" />
                            </td>
                            <td><PlayerData Player="@PlayerObjects[8]" /></td>
                            <td colspan="2" class="fw-bold" style="color:white;">
                                @if (Pot > 0)
                                {
                                    <span>Pot:@Pot</span>
                                }
                            </td>
                            <td><PlayerData Player="@PlayerObjects[0]" /></td>
                            <td class="text-end align-bottom" >
                                <PlayerData Player="@PlayerObjects[1]" />
                            </td>
                        </tr>
                        <tr>
                            <td class="text-start align-bottom"><PlayerData Player="@PlayerObjects[6]" /></td>
                            <td colspan="4" class="text-center" >
                                <div class="btn-group mr-2 font_large row align-items-center board" role="group">
                                    <BoardCard Card="@BoardCards[0]" />
                                    <BoardCard Card="@BoardCards[1]" />
                                    <BoardCard Card="@BoardCards[2]" />
                                    <BoardCard Card="@BoardCards[3]" />
                                    <BoardCard Card="@BoardCards[4]" />
                                </div>
                            </td>
                            <td class="text-end align-bottom"><PlayerData Player="@PlayerObjects[2]" /></td>
                        </tr>
                        <tr>
                            <td class="text-end align-bottom"><PlayerData Player="@PlayerObjects[5]" /></td>
                            <td></td>
                            <td class="text-center align-bottom" colspan="2"><PlayerData Player="@PlayerObjects[4]" /></td>
                            <td></td>
                            <td class="text-start align-bottom"><PlayerData Player="@PlayerObjects[3]" /></td>
                        </tr>
                    </table>
                </div>
            </div>
        </td>
        <td class="text-center"><PlayerPerson Player="@PlayerObjects[1]" /></td>
    </tr>

    <tr>
        <td class="text-center"><PlayerPerson Player="@PlayerObjects[6]" /></td>
        <td class="text-center"><PlayerPerson Player="@PlayerObjects[2]" /></td>
    </tr>

    <tr>
        <td></td>
        <td class="text-center"><PlayerPerson Player="@PlayerObjects[5]" /></td>
        <td colspan="2" class="text-center"><PlayerPerson Player="@PlayerObjects[4]" /></td>
        <td class="text-center"><PlayerPerson Player="@PlayerObjects[3]" /></td>
        <td></td>
    </tr>
</table>

