@page "/poker"
@inherits PokerBase

@{
    string style = Title == string.Empty ? string.Empty : "display:none";
}

<input class="btn btn-primary unfocus" style="position:absolute;" type="button" value="New Game" onclick="@(async () => await NewGame())" />
<div class="layout">
    <div class="border">
    <div class="area">
        <div class="area-text"><p>@Title</p></div>
        @{            
            <div class="croupier" style="@style">
                <img src="@CroupierImage" class="card-item"/>
            </div>
            <div id="bank" style="@style">
                <p>@Bank</p>
            </div>            
            <div id="board" style="@style">
            @for(int i = 0; i < COMMON_COUNT; i ++)
            {
                <div class="common-cards">
                    <img align="middle" src="@(Board[i])" class="card-item"/>
                </div>
            }
            <div style="clear:both;"></div>
            </div>
        }
        @for(int i = 0; i < PLAYERS_COUNT; i ++)
        {
            int myId = PLAYERS_COUNT / 2;
            string fill = i != myId ? "-fill" : string.Empty;
            string dialer = i == DealerId ? ImageDialer : string.Empty;
            string think = "no-think";
            if (Bet[i] > 0)
            {
                <div id="bet@((i+1).ToString())" class="bets">@Bet[i]</div>
            }
            string className = i == myId ? "-you" : "";
            <div id="player@((i+1).ToString())" class="players@(className)" style="@style">
                @if(! string.IsNullOrEmpty(Actions[i]))
                {
                    think = "think";
                    <div class="head @think">@Actions[i]</div>
                }
                
                <!-- <div class="body"> -->
                @{
                    string player = i == myId ? "You" : $"Player {(i+1).ToString()}";
                    
                        <!-- <div class="text-top text@(className)">@player</div> -->
                         
                }
                <!-- </div> -->
                <img src="images\person@(className).svg" />
                <div class="text@(className)">@Bankroll[i]</div>

            </div>
            <div id="hand@((i+1).ToString())" class="hands">                
                @for(int j = 0; j < HANDS_COUNT; j ++)
                {
                    <img src="@(Images[i, j])" class="card-item"/>
                }                
                <img src="@dialer" class="dialer" />
            </div>
        }
    </div>
    </div>
</div>
