@page "/poker"
@inherits PokerBase

<input class="btn btn-primary unfocus" style="position:absolute;" type="button" value="New Game" onclick="@(async () => await NewGame())" />
<div class="layout">
    <div class="area">
        <div class="area-text"><p>@Title</p></div>
        <div class="croupier">
            <img src="@CroupierImage" class="card-item"/>
        </div>
        @{
            string style = Title == string.Empty ? string.Empty : "display:none";
            <div id="bank" style="@style">
                <div>Bank</div>
                <div>$@Bank</div>
            </div>            
            <div id="board" style="@style">
            @for(int i = 0; i < 5; i ++)
            {
                <img src="@(Board[i])" class="card-item"/>
            }
            </div>
        }
        @for(int i = 0; i < PLAYERS_COUNT; i ++)
        {
            int myId = PLAYERS_COUNT / 2;
            string fill = i != myId ? "-fill" : string.Empty;
            string dialer = i == DealerId ? ImageDialer : string.Empty;
            string think = "no-think";
            if (Bet[i] > 0)
            {
                <div id="bet@((i+1).ToString())" class="bets">$@Bet[i]</div>
            }
            <div id="player@((i+1).ToString())" class="players">
                @if(! string.IsNullOrEmpty(Actions[i]))
                {
                    think = "think";
                }
                <div class="head @think">@Actions[i]</div>
                @{
                    string player = i == myId ? "You" : $"Player {(i+1).ToString()}";
                    string className = i == myId ? "text-you" : "text";
                    <div class="text-top @className">@player</div>
                    <div class="@className">$@Bankroll[i]</div>
                }
            </div>
            <div id="hand@((i+1).ToString())" class="hands">                
                @for(int j = 0; j < 5; j ++)
                {
                    <img src="@(Images[i, j])" class="card-item"/>
                }                
                <img src="@dialer" class="dialer" />
            </div>
        }
    </div>
</div>
